services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://project-mongo:27017/mal3020
      - PORT=5000
    command: npm run dev
    depends_on:
      - mongo


  mongo:
    image: mongo:6
    container_name: project-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: