name: Backend CI/CD

on:
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:7
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v3

      - name: Build backend image
        run: docker build -t backend:${{ github.sha }} .

      - name: Run backend for testing
        run: |
          docker run -d --name test-backend \
            -e MONGO_URI="mongodb://mongo:27017/mal3020" \
            -e PORT=5000 \
            -p 5000:5000 backend:${{ github.sha }}
          sleep 5
          docker logs test-backend

      - name: Clean test container
        run: docker rm -f test-backend

  deploy:
    needs: build-and-test
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Deploy
        run: |
          docker compose down
          docker compose up -d --build
        shell: powershell

