name: Mongo CI

on:
  push:
    branches:
      - main
    paths:
      - mongo/**

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate Mongo container
        run: |
          docker run -d --name mongo-test -p 27017:27017 mongo:6.0
          sleep 5
          docker exec mongo-test mongo --eval "db.stats()"
          docker rm -f mongo-test
