name: Mongo CI

on:
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate docker-compose syntax
        run: |
          echo "Mongo uses official image. No build required."
