name: Mongo CI

on:
  push:
    paths:
      - 'docker-compose.yml'
      - '.github/workflows/mongo.yml'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check docker-compose syntax
        run: docker compose config
